@import '~office-ui-fabric-react/dist/sass/References.scss';

.attachmentsControl {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.loading-spinner-place{
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  margin-left: -13px;
  margin-top: -13px;
  border-radius: 7px;
}

.loading-spinner{
  position: absolute;
  z-index: 6;
  left: 47%;
  top: 40%;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}